:root {
  --bs-primary: #49216e;
}

nav {
  background: #f3eee8;
  height: 90px;
}

footer {
  > :first-child {
    margin-block: 48px;
  }

  background: var(--bs-primary);
  height: 204px;
  color: white;
}

.list-group-item {
  border: none;

  --bs-list-group-color: var(--bs-primary);
  --bs-list-group-bg: #f9f6f3;
}
