:root {
  --cwac-primary-300: #d6bbf7;
  --cwac-primary-300-rgb: 214, 187, 247;
  --cwac-primary-900: #49216e;
  --cwac-primary-900-rgb: 73, 33, 110;
  --cwac-primary-900-50p: #a490b6;
  --cwac-primary-950: #370f5c;
  --cwac-primary-950-rgb: 55, 15, 92;

  --bs-primary: var(--cwac-primary-900);
  --bs-primary-rgb: var(--cwac-primary-900-rgb);
  --bs-link-color: var(--bs-primary);
  --bs-link-color-rgb: var(--bs-primary-rgb);
  --bs-link-decoration: none;
  --bs-link-hover-color: var(--cwac-primary-950);
  --bs-link-hover-color-rgb: var(--cwac-primary-950-rgb);
}

* {
  --bs-breadcrumb-item-active-color: #6c757d;
  --bs-breadcrumb-divider-color: #ced4da;
}

.btn-primary {
  --bs-btn-bg: var(--cwac-primary-900);
  --bs-btn-border-color: var(--cwac-primary-950);
  --bs-btn-hover-bg: var(--cwac-primary-950);
  --bs-btn-hover-border-color: var(--cwac-primary-950);
  --bs-btn-focus-shadow-rgb: var(--cwac-primary-300-rgb);
  --bs-btn-active-bg: var(--cwac-primary-950);
  --bs-btn-active-border-color: var(--cwac-primary-950);
  --bs-btn-disabled-bg: var(--cwac-primary-900-50p);
  --bs-btn-disabled-border-color: var(--cwac-primary-900-50p);
}

.navbar {
  background: #f3eee8;
  min-height: 90px;
}

.intro {
  background: #f3eee8;
}

footer {
  > :first-child {
    margin-block: 48px;
  }

  background: var(--bs-primary);
  min-height: 204px;
  color: white;
}

.list-group-item {
  border: none;

  --bs-list-group-color: var(--bs-primary);
  --bs-list-group-bg: #f9f6f3;
}

.card {
  border: none;
  border-bottom: 2px solid #d4c6b5;

  --bs-card-title-color: var(--bs-primary);
  --bs-card-border-radius: 42px;
  --bs-card-bg: #f9f6f3;

  box-shadow:
    1.6px 9.7px 10.3px -3px #00000014,
    0.6px 3.8px 4px -2px #00000017,
    0.2px 1.5px 1.6px -1px #00000017,
    0.1px 0.5px 0.5px 0px #0000001a;
}
