node_modules
cwac-report
.git
.DS_Store
results/*/
chrome/*
Dockerfile
nltk_data
*chromedriver_mac*
__pycache__
.git
.vscode
.bandit
.flake8
.gitattributes
.gitignore
.pre-commit-config.yaml
.pylintrc
.*/