node_modules/*
.venv/
nltk_data/
chrome/
.pytest_cache/
package-lock.json
htmlcov/
.DS_Store
__pycache__/
results/*
.coverage
*.log
config/
!config/config_default.json
!/drivers/.gitkeep
.vscode/
/base_urls/crawl/*
!/base_urls/crawl/example.txt
/base_urls/nohead/*
!/base_urls/nohead/example.txt
/base_urls/store/*
!/base_urls/store/.gitkeep
/reports/*
!/reports/.gitkeep
/test_website/*
