_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
**/.DS_Store
charts/*
_data/organisations/*.json
_data/report.json
_organisations/*
!*/.gitkeep
node_modules/*
package-lock.json
htmlcov/
.DS_Store
Gemfile.lock
.jekyll-cache/