{% extends 'layout.html' %}

{% block body %}
  <h1>Configs</h1>

  <nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('root') }}">Home</a></li>
      <li class="breadcrumb-item">
        <a href="{{ url_for('view_configs') }}">Configure CWAC</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">New config</li>
    </ol>
  </nav>

  <p>New config</p>
  <div class="col-lg-8 px-0">
    <form action="{{ url_for('create_config') }}" method="post">
      <label class="form-label" for="filename">Filename</label>
      <div class="input-group">
        <input
          class="form-control {% if 'filename' in validation_errors %}is-invalid{% endif %}"
          id="filename"
          name="filename"
          type="text"
          value="{{ filename }}"
        />
        <span class="input-group-text">.json</span>

        {% if 'filename' in validation_errors %}
          <div class="invalid-feedback">
            {{ validation_errors['filename'][0] }}
          </div>
        {% endif %}
      </div>

      <label class="form-label" for="contents">Contents</label>
      <textarea
        class="form-control {% if 'contents' in validation_errors %}is-invalid{% endif %}"
        rows="20"
        id="contents"
        name="contents"
      >
{{ contents }}</textarea
      >

      {% if 'contents' in validation_errors %}
        <div class="invalid-feedback">
          {{ validation_errors['contents'][0] }}
        </div>
      {% endif %}

      <div class="my-2">
        <button type="submit" class="btn btn-primary">Create</button>
        <a href="{{ url_for('view_configs') }}" class="btn btn-secondary"
          >Cancel</a
        >
      </div>
    </form>
  </div>
{% endblock %}
