{% extends 'layout.html' %}

{% block body %}
  <h1>What would you like to do?</h1>
  <div class="col-lg-8 px-0">
    <ul>
      <li class="list-unstyled m-1">
        <a href="{{ url_for('view_configs') }}" class="btn btn-primary"
          >View configs</a
        >
      </li>
      <li class="list-unstyled m-1">
        <a href="{{ url_for('view_urls') }}" class="btn btn-primary"
          >View URLs</a
        >
      </li>
      <li class="list-unstyled m-1">
        <a href="#" class="btn btn-primary disabled">View results</a>
      </li>
      <li class="list-unstyled m-1">
        <a href="#" class="btn btn-primary disabled">View reports</a>
      </li>
      <li class="list-unstyled m-1">
        <a href="#" class="btn btn-primary disabled">Start a scan</a>
      </li>
    </ul>
  </div>
{% endblock %}
