{% extends 'layout.html' %}

{% set intro_title = 'Centralised Web Accessibility Checker' %}
{% set intro_subtitle = 'The Centralised Web Accessibility Checker is an open source tool to detect and make recommendations for accessibility issues across websites.' %}

{% macro card(icon, title, text, goto_url, goto_text) -%}
  <div class="col">
    <div class="card h-100">
      <div class="card-body d-flex flex-column">
        <div class="card-icon my-2">{% include icon %}</div>
        <h3 class="card-title mb-4">{{ title }}</h3>
        <p class="card-text mb-4 text-black flex-grow-1">{{ text }}</p>
        <div>
          <a
            href="{{ goto_url }}"
            class="btn btn-primary rounded-pill px-4 py-3"
            >{{ goto_text }}</a
          >
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}

{% block body %}
  <p class="mb-4">
    <strong class="text-primary">Set up CWAC:</strong> Set up how the
    Centralised Web Accessibility Checker will run on your machine.
  </p>

  <div class="row gap-5">
    {{
      card(
        icon='svgs/_icon_settings.svg',
        title='Configure CWAC',
        text='Set up different configurations for how CWAC runs on your machine.',
        goto_url=url_for('view_configs'),
        goto_text='Configure CWAC'
      )
    }}

    {{
      card(
        icon='svgs/_icon_link.svg',
        title='Set URL endpoints',
        text='Set up which endpoints CWAC will scan when it runs for different configurations.',
        goto_url=url_for('view_urls'),
        goto_text='Set URL endpoints'
      )
    }}
  </div>

  <hr class="my-5" />

  <p class="mb-4">
    <strong class="text-primary">Scans and outcomes:</strong> Start a scan, and
    see results and reports of completed scans.
  </p>

  <div class="row gap-5">
    {{
      card(
        icon='svgs/_icon_inspect.svg',
        title='Scan a scan',
        text='Start a scan using specific configuration.',
        goto_url=url_for('new_scan'),
        goto_text='Start scanning'
      )
    }}

    {{
      card(
        icon='svgs/_icon_assignment.svg',
        title='View raw results',
        text='View and download the raw results of previous scans, and how they were set up to run.',
        goto_url=url_for('view_results'),
        goto_text='View results'
      )
    }}

    {{
      card(
        icon='svgs/_icon_browse.svg',
        title='Download reports',
        text='Download the reports of different audits for a previous scan.',
        goto_url=url_for('view_reports'),
        goto_text='Download reports'
      )
    }}
  </div>
{% endblock %}
