<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>CWAC</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link href="/static/styles.css" rel="stylesheet" />
  </head>

  <body class="d-flex vh-100 flex-column">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <div>
          <a class="navbar-brand" href="{{ url_for('root') }}">
            {% include '_logo_cwac.html' %}<span class="text-primary"
              >Centralised Web Accessibility Checker</span
            ></a
          >
        </div>
      </div>
    </nav>

    <main role="main" class="flex-grow-1">
      <div class="container my-2">
        {% for category, message in get_flashed_messages(with_categories=true) %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}

        {% block body %}
        {% endblock %}
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-4">
            {% include '_logo_cwac.html' %}

            <div>Centralised Web Accessibility Checker</div>
          </div>
          <div class="col-4">
            {% include '_logo_github.html' %}
            <a href="https://github.com/GOVTNZ/cwac">View on GitHub</a>
          </div>
          <div class="col-4">{% include '_logo_nzgovt.html' %}</div>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
