{% extends 'layout.html' %}

{% block body %}
  <h1>Reports</h1>

  <nav aria-label="breadcrumb" class="mt-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('root') }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Download reports
      </li>
    </ol>
  </nav>

  <div class="col-lg-8 px-0">
    {% include '_details_controls.html' %}

    {% for report in reports %}
      <details class="my-3">
        <summary>
          <h5 class="d-inline-block">reports/{{ report['name'] }}</h5>
        </summary>

        {% if report['files']|length != 0 %}
          <ol class="list-group">
            {% for file in report['files'] %}
              <li class="list-group-item">
                <a
                  href="{{ url_for('download_report_file', name=report['name'], file=file) }}"
                  >{{ file }}</a
                >
              </li>
            {% endfor %}
          </ol>
        {% else %}
          No files found
        {% endif %}
      </details>
    {% else %}
      No reports found
    {% endfor %}
  </div>
{% endblock %}
