{% extends 'layout.html' %}

{% set intro_title = 'Start a scan' %}
{% set intro_subtitle = 'Start a scan using a specific configuration.' %}

{% block body %}
  <nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('root') }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Start a scan</li>
    </ol>
  </nav>

  <form
    class="card rounded-5"
    action="{{ url_for('create_scan') }}"
    method="post"
  >
    <div class="card-body">
      <label for="config">Select configuration</label>
      <select
        id="config"
        name="config"
        class="form-select"
        required
        {% if configs|length == 0 %}disabled{% endif %}
      >
        {% for config in configs %}
          <option>{{ config }}</option>
        {% else %}
          <option value="" selected>No config files found</option>
        {% endfor %}
      </select>

      <button
        class="btn btn-primary rounded-pill"
        type="submit"
        {% if configs|length == 0 %}disabled{% endif %}
      >
        Start
      </button>
    </div>
  </form>
{% endblock %}
