{% extends 'layout.html' %}

{% block body %}
  <nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('root') }}">Home</a></li>
      <li class="breadcrumb-item">
        <a href="{{ url_for('new_scan') }}">Start a scan</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ filename }}.json
      </li>
    </ol>
  </nav>

  <div class="row mb-4">
    <div class="col-lg-10 offset-lg-2">
      <span id="scan-state">Currently scanning</span>
      <h2>{{ manager.results_directory() }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2">
      <div class="card rounded-5">
        <div class="card-body">
          <div>Selected configuration:</div>
          <div class="scan-controls">
            <a
              href="{{ url_for('view_results') }}"
              id="scan-control"
              class="btn btn-sm btn-success rounded-pill disabled"
              >Scanning...</a
            >
          </div>
        </div>
      </div>

      <div
        class="nav flex-column nav-pills m-3"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <button
          class="nav-link active"
          id="v-pills-audit-log-tab"
          data-bs-toggle="pill"
          data-bs-target="#v-pills-audit-log"
          type="button"
          role="tab"
          aria-controls="v-pills-audit-log"
          aria-selected="true"
        >
          Audit log
        </button>
        <button
          class="nav-link"
          id="v-pills-chromedriver-log-tab"
          data-bs-toggle="pill"
          data-bs-target="#v-pills-chromedriver-log"
          type="button"
          role="tab"
          aria-controls="v-pills-chromedriver-log"
          aria-selected="false"
        >
          chromedriver.log
        </button>
      </div>
    </div>

    <div class="col-lg-10">
      <div class="mb-3">
        <div
          class="progress"
          role="progressbar"
          aria-valuenow="{{ manager.progress().percent }}"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div
            id="scan-progress"
            class="progress-bar bg-{{ 'success' if manager.progress().percent == '100.0' else 'primary' }}"
            style="width: {{ manager.progress().percent }}%"
          ></div>
        </div>
        <div class="d-flex justify-content-between">
          <span id="scan-progress-stat"
            >p:{{ manager.progress().iteration }}/8</span
          >
          <span id="scan-progress-speed"
            >v:{{ manager.progress().speed }}p/s</span
          >
          <span id="scan-progress-elapsed"
            >t:{{ manager.progress().elapsed }}</span
          >
          <span id="scan-progress-remaining"
            >t-:{{ manager.progress().remaining }}</span
          >
        </div>
      </div>

      <div class="tab-content">
        <div
          class="tab-pane show active"
          id="v-pills-audit-log"
          role="tabpanel"
          aria-labelledby="v-pills-audit-log-tab"
          tabindex="0"
        >
          <textarea
            class="form-control"
            rows="20"
            id="logs-audit"
            readonly
            disabled
            aria-label="{{ manager.audit_log_file_path() }}"
          >
{{ audit_logs }}</textarea
          >
        </div>
        <div
          class="tab-pane"
          id="v-pills-chromedriver-log"
          role="tabpanel"
          aria-labelledby="v-pills-chromedriver-log-tab"
          tabindex="0"
        >
          <textarea
            class="form-control"
            rows="20"
            id="logs-chromedriver"
            readonly
            disabled
            aria-label="{{ manager.chromedriver_log_file_path() }}"
          >
{{ chromedriver_logs }}</textarea
          >
        </div>
      </div>
    </div>
  </div>

  <script src="/static/scans_progress.js"></script>
{% endblock %}
