{% extends 'layout.html' %}

{% set intro_title = 'Set URL endpoints' %}
{% set intro_subtitle = 'Set up which endpoints CWAC will scan when it runs for different configurations.' %}

{% block body %}
  <nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('root') }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Set URL endpoints
      </li>
    </ol>
  </nav>

  <div class="col-lg-8 px-0">
    {% include '_details_controls.html' %}

    {% for file in files %}
      <details class="my-2">
        <summary>
          <h5 class="d-inline-block">
            {% set filename = file['path'].removeprefix('./base_urls/visit/').removesuffix('.csv') %}
            <a
              href="{{ url_for('edit_urls', filename=filename) }}"
              class="btn btn-primary btn-sm"
              >Edit</a
            >
            {{ file['path'] }}
          </h5>
        </summary>

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Organisation</th>
              <th>URL</th>
              <th>Sector</th>
            </tr>
          </thead>

          <tbody>
            {% for endpoint in file.endpoints %}
              <tr>
                <td>{{ endpoint['organisation'] }}</td>
                <td>{{ endpoint['url'] }}</td>
                <td>{{ endpoint['sector'] }}</td>
              </tr>
            {% else %}
              <tr>
                <td class="text-center" colspan="3">
                  {% if file['invalid_reason'] %}
                    Invalid CSV: {{ file['invalid_reason'] }}
                  {% else %}
                    File is empty
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </details>
    {% else %}
      No url files found
    {% endfor %}
  </div>
{% endblock %}
