{% extends 'layout.html' %}

{% block body %}
  <nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('root') }}">Home</a></li>
      <li class="breadcrumb-item">
        <a href="{{ url_for('view_urls') }}">Set URL endpoints</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        visit/{{ filename }}.csv
      </li>
    </ol>
  </nav>

  <div class="row mb-3">
    <div class="col-lg-10 offset-lg-2 text-primary">
      Currently editing
      <h2>{{ filepath }}</h2>
    </div>
  </div>

  <form
    class="row"
    action="{{ url_for('update_urls', filename=filename) }}"
    method="post"
  >
    <div class="col-lg-2">
      <div class="card rounded-5">
        <div class="card-body">
          <div>
            <button type="submit" class="btn btn-sm btn-primary rounded-pill">
              Save
            </button>
            <a href="#" class="btn btn-sm btn-danger rounded-pill disabled"
              >Delete</a
            >
          </div>

          These are the URL endpoints that will be scanned by any configurations
          that reference them.
        </div>
      </div>
    </div>

    <div class="col-lg-10">
      <textarea
        class="form-control"
        rows="20"
        id="contents"
        name="contents"
        aria-label="Contents"
      >
{{ contents }}</textarea
      >
    </div>
  </form>
{% endblock %}
