
/* Light/dark mode variables */
:root {
    --a11ytable-bg-color: white;
    --a11ytable-text-color: black;
    --a11ytable-hover-color: rgb(39, 39, 39);
}

/* Prefers dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --a11ytable-bg-color: black;
        --a11ytable-text-color: white;
        --a11ytable-hover-color: rgb(215, 215, 215);
    }
}
/* select all legend elements that are a descendint of the .a11ytable class */
.a11ytable legend {
    background-color: var(--a11ytable-text-color);
    color: var(--a11ytable-bg-color);
    font-weight: bold;
    margin: 0;
    padding: 0 0.5rem
}

/* add margin-right to checkbox inputs inside of a11ytable fieldset */
fieldset.a11ytable input[type="checkbox"] {
    margin-right: 0.5rem;
}

table.a11ytable {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 100%;
}

table.a11ytable > caption {
    text-align: left;
    font-weight: bold;
}

table.a11ytable td {
    padding: 0.5em;
    border: 1px solid var(--a11ytable-text-color);
}

table.a11ytable > thead > tr > th {
    background-color: var(--a11ytable-bg-color);
    border: 1px solid var(--a11ytable-text-color);
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Select all buttons inside of th that are inside of a table with the .a11ytable class */
table.a11ytable th button {
    color: var(--a11ytable-bg-color);
    background: var(--a11ytable-text-color);
    text-align: left;

    /* vertically align text inside the button */
    display: flex;
    align-items: center;
    
    /* remove button border */
    border: none;
    /* cursor pointer */
    cursor: pointer;
    padding: 0.5rem;

    width: 100%;
}

/* highlight button when hovered */
table.a11ytable th button:hover {
    background: var(--a11ytable-hover-color);
}

table.a11ytable > thead > tr > th > button > svg {
    width: max(1em, 24px);
    height: max(1em, 24px);
    stroke: var(--a11ytable-bg-color);
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

/* select input with a type=text */
input.a11ytable[type="text"] {
    border: 2px solid var(--a11ytable-text-color);
    background-color: var(--a11ytable-bg-color);
    color: var(--a11ytable-text-color);
    font-size: 1rem;
    padding: 0.25rem;
}